<div class="row">
	<div class="small-8 small-centered columns splash">

			<h1>Anthony Mace</h1>

			<br />

			<ul class="social-links">
				<li>
					<a href="https://twitter.com/Anthony_Mace">Twitter</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/anthonymacenz">Linkedin</a>
				</li>
				<li>
					<a href="https://github.com/JacobKorn">GitHub</a>
				</li>
			</ul>

	</div>
</div>