

.splash {
	text-align: center;

	h1 {
		font-family: 'Pacifico', cursive;
		font-size: 6rem;
		text-shadow: 0.5px 0.5px 0.5px grey;
		margin: 7rem 0 3rem 0;
	}
}

.social-links {
	text-align: center;
	ul {
		list-style: none;
	}
	li {
		display: inline;
		margin: 10px;
	}
}

